body{
  background: linear-gradient(110deg,#ddd6f3, #faaca8 );
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container h1{
  color:#f46760;
  font-size: 30px;
  font-family: cursive;
  letter-spacing: 2px ;
}

.counter-container{
padding: 10px;
border-radius: 12px;
margin: 18px auto;
width:80%;
}
.number-holder{
  display: flex;
  justify-content: space-around;
}
.counter-box{
 padding:7px 22px ;
 background-color: rgb(213, 123, 238);
 border-radius: 12px;
}

.text-box{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

textarea{
  width: 90%;
  height: 40vh;
  padding: 22px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 14px;
  font-size: 18px;
  box-shadow: 0px 0px 27px rgb(134 5 179 /51%);
}

.textarea:focus{
  border: none !important;
  box-shadow: 2px 2px 12px rgb(109,150 , 240);
  background-color: #ddd;
}

.button-box{
  width:40%;
display: flex;
justify-content: space-around;
margin: 22px auto;

}

.button-box button{
  border: none;
  border-radius: 13px;
  background-color:  rgb(213, 123, 238);
  color: #ddd;
  padding: 11px 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

button:hover{
  background-color: #ddd;
  box-shadow: 0 2px 8px #000;
  border-color: blueviolet;
  border-width: 2px;
  color: rgb(251, 59, 165);
  transition: ease-in-out 0.3s;
}